html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.15;
  background-color: #f6f6f6;
  padding: 20px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #212529;
}
.d-block {
  display: block;
}
.progress-bar-outer {
  height: 30px;
  max-width: 500px;
  margin: 0.5rem 0;
  border: 1px solid #666;
  background-color: #aaa;
  border-radius: 10px;
  overflow:hidden;
}
.progress-bar-inner {
  width: 2%;
  height: 30px;
  background-color: green;
}
.quiz-info {
  margin-bottom: 1rem;
}

.card {
  background: #fff;
  border-radius: 2px;
  margin: 0 15px 15px 0;
  position: relative;
  box-shadow: -3px -3px 5px rgba(0,0,0,0.19), 3px 3px 5px rgba(0,0,0,.19);
  padding: 20px;
  overflow: auto;
}
.card-col {
  width: 70%;
  float: left;
}

input[type="radio"] {
  float: left;
}

.label-text {
  float: left;
  width: 95%;
  margin-left: 5px;
}

.desktop-info {
  width: 30%;
  float: left;
}
.mobile-info{
  display: none;
  margin-bottom: 30px;
}

.desktop-info .quiz-info {
  padding: 0 20px 20px 20px;
}

.question {
  font-size: 18px;
  margin-bottom: 15px;
}


@media only screen and (max-width: 600px) {
  .card-col {
    width: 100%;
  }
  .mobile-info {
    display: block;
  }
  .desktop-info {
    display: none;
  }
  .card {
    margin-right: 0;
  }
  .title {
    font-size: 20px;
  }
  .label-text {
    width: 90%;
  }
  
}